{
    "extends": [
        "@sotream/eslint-config-react-ts",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript"
    ],
    "rules": {
        "no-void": "off",
        "indent": ["error", 4, { "SwitchCase": 1 }]
    }
}
